.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.fixedHeader.navbar {
  position: fixed;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding-top: 80px;
  flex-grow: 1;
}

.image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cover-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.cover-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.panier-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 10px;
}
